@font-face {
    font-family: BYekan;
    src: url("./font/BYekan/BYekan.eot");
    src: url("./font/BYekan/BYekan.ttf") format("ttf");
    src: url("./font/BYekan/BYekan.woff") format("woff");
}

body {
    background-color: #e7e7e7;
    font-family: BYekan;
}


.bg-white{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;


}

.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 28%;
    text-align: center;
    font-size: 14px;

}

img{
    width: 90%;
}

.txt-blue{
    color: #0A65CD;
    font-size: 15px;
}


.font-san{
    font-family: sans-serif;
    font-size: 12px !important;
}

.text{
    margin: 0 25px;
    margin-bottom: 20px;
}

.box-txt{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 0 3px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.box-txt p:nth-child(3){
    text-align: right;
    font-size: 13px;
}

.text p{
    margin-bottom: 0;
}